---
layout: style
---

/* ==========================================================================
   Page intro
   ========================================================================== */

.intro {
  margin: 1rem 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.intro-image {
  position: relative;
  margin-top: -3rem; /* compensate for intro top margin */
  margin-bottom: 3rem;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($accent-color, 0.25);
    content: '';
  }

  img {
    width: 100%;
  }
}
