 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Om oss</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hos oss kan du velge om du vil plukke ut juletre på rot og hogge det sjøl eller velge blant våre utstilte ferdighogga juletre. For å velge ut juletre på rot er du velkommen alle dager fra oktober til jul, i tidsrommet 10:00 - 19:00. Avtal tid så stiller vi med merkelapper.</p>
                </div>
                <div class="col-lg-4">
                    <p>Ferdighogga juletre, pyntegrønt og kranser selger vi fra salgs-staden vår i drivhuset fom 5. desember tom 24. desember. Der kan du også slappe av i oppvarma lokale og få noe å drikke og å bite i. Juletreet pakkes i nett slik at det er lett å transportere. I tillegg kan vi tilpasse treet til en stødig og elegant juletrefot.</p>
                </div>
            </div>
        </div>
    </section>
