 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Om oss</h2>
                    <hr class="star-primary">
                </div>
            </div>
        <br>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hos oss kan du velge om du vil plukke ut juletre på rot og hogge det sjøl eller velge blant våre utstilte ferdighogga juletre.<br><br>
                     For å velge ut juletre på rot er du velkommen alle dager fra oktober til jul.<br>
                     Avtal tid så stiller vi med merkelapper.</p>
                </div>
                <div class="col-lg-4">
                    <p>Ferdighogga juletre, pyntegrønt og kranser selger vi fra Juletrebutikken siste 3 veker før jul. Der kan du også slappe av i oppvarma lokale og få noe å drikke og å bite i.<br><br>
                     Juletreet pakkes i nett slik at det er lett å transportere.<br>
                     I tillegg kan vi tilpasse treet til en stødig og elegant juletrefot.</p>
                </div>
            </div>
         <br><br>
         <div class="row">
                <div class="col-lg-12 text-center">
                 <p style="font-weight: bold;">For oppdatert informasjon og aktiviteter, besøk oss på facebook</p>
                 <p><a href="https://www.facebook.com/juletrebryne"><i class="svg-icon facebook"></i></a></p>
                 <p>Og følg oss på Instagram</p>
                 <p><a href="https://www.instagram.com/brynejuletregard/"><i class="svg-icon instagram"></i></a></p>
                </div>
            </div>
        </div>
    </section>
