 <!-- Christmas Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Jul 2021</h2>
                    <hr class="star-primary">
                </div>
            </div>
        <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img class="img-responsive" src="juletrebanner_2021.png" alt="SJØLHOGST: En opplevelsestur i juletreskogen? Merk treet på rot. når det passer deg og hogg/hent det til jul. Avtal tid. FERDIGHOGGA: Salg i juletrebutikken siste 3 veker før jul. Juletrebutikken i Brøytvegen 263 | T: 91539683 | F: @juletre bryne | www.juletrebryne.no | JULETRE" />
                </div>
            </div>
        </div>
    </section>
