<!-- Contact Section -->
<section class="success" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Kontakt oss</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls">
						<a href="https://www.google.com/maps/place/Bryne+juletregard/data=!3m1!4b1!4m2!3m1!1s0x463a39f13d0f5235:0x86d7121399bb0fb9" target="_blank" itemprop="hasMap" data-tracking-element-type="7">
						 <div class="QMbmRe" style="background-image:url('https://maps.googleapis.com/maps/api/staticmap?scale=1&amp;size=1600x900&amp;style=feature:poi.business|visibility:off&amp;style=feature:water|visibility:simplified&amp;style=feature:road|element:labels.icon|visibility:off&amp;style=feature:road.highway|element:labels|saturation:-90|lightness:25&amp;format=jpg&amp;language=no&amp;region=NO&amp;markers=color:0x60a5a5|58.724779,5.6707198&amp;zoom=16&amp;client=google-presto&amp;signature=uxqwE_EFPoxordheVcZgrHkTKI0')" title="Bryne juletregard"></div>
					      </a>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls">
						<a class="PDvGL q8cvFf" href="https://www.google.com/maps/dir//Bryne+juletregard/data=!4m8!4m7!1m0!1m5!1m1!1s0x463a39f13d0f5235:0x86d7121399bb0fb9!2m2!1d5.6707198!2d58.724779" target="_blank" data-tracking-element-type="6" jslog="56039; track:impression,click">Få veibeskrivelse</a>
					    <address>
					       <div>Brøytvegen 263</div>
					       <div>4345 Bryne</div>
					       <div>Norge</div>
					    </address>
					</div>
				</div>
				<br>
				<div id="success"></div>
				<div class="row">
					<div class="form-group col-xs-12">
						<!--<button type="submit" class="btn btn-success btn-lg">Send</button>-->
						<a class="btn btn-success btn-lg" href="tel:+4791539683" dir="ltr">Ring nå 915 39 683</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
