<!-- Header -->
<header class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<img class="img-responsive" src="img/bryne_juletregard.png" alt="Bryne Juletregard | Juletrebutikken" />
			</div>
  </div>
</div>
